/.gradle
/.idea
/common/build
/fabric/build
/neoforge/build
/neoforge/.gradle
/fabric/.gradle
/common/.gradle
/build
/neoforge/run
/fabric/run
/common/logs
/net
/com
/fab-src-tmp
/mc-src-tmp
*.log
/spike-tmp
